h1{
    text-shadow: 2px 2px 5px red;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}
h2{
    text-shadow: 2px 2px 5px red;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-decoration-style: solid;
    text-decoration-thickness: 10px;
    margin-top: 10px;
    
}
h3{
    text-shadow: 2px 2px 5px red;
    text-align: center;
    text-decoration: overline;
    margin-top: 10px;
    text-decoration-color: hotpink;
    text-decoration-style: dotted;
    text-decoration-thickness: 2px;
}
h4{
    text-shadow: 2px 2px 5px red;
    text-align: center;
    /* text-decoration:line color style thickness */
    text-decoration: line-through rgb(241, 243, 241) dashed 1px ;
    margin-top: 10px;
}
