*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header{
    width: 100%;
    height: 70vh;
    /* border: 2px solid red; */
    /* background-color: rgb(98, 141, 33); */
    background: linear-gradient(rgba(89, 102, 89, 0.5),#74abb4), url(../img/awsome.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
header p{
    font-family: 'Goblin One', cursive;
    font-size: 2.3rem;
    color: #ffffff;
    font-weight: 800;
    margin-left:  3rem; 
    display: inline-block;
}
nav{
    display: flex;
    justify-content: space-between;

}
/* ul{
    display: inline-block;
} */
ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    /* position: relative;
    top: 0; */
}
li{
    margin: 20px;
    list-style: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bolder;
    cursor: pointer;
}
/* li:hover{
    color: hotpink;
    
} */
.aws{
    width: 40%;
    height: 200px;
    /* border: 3px solid red; */
    box-sizing: border-box;
    margin: 5.4rem auto;
}
.aws h1{
    color: #ffffff;
    font-size: 3rem;
    text-align: center;
    line-height: 35px;
    margin-bottom: 30px;
}
.aws p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    line-height: 17px;
    text-align: center;

}


/* Features */
#features{
    height: max-content;
    /* border: 3px solid red; */
    margin-top: 3rem;
}
.row_1{
    height: max-content;
    display: flex;
    width: 100%;
    border: 3px solid black;
    flex-direction: column;


}
.r1 {
    text-align: center;
    font-size: 2rem;
}
.r1 h1{
    color: rgb(56, 55, 55);
    font-family: serif;
    /* margin-top: 30px; */
}
.r1 span{
    display: inline-block;
    width: 200px;
    height: 5px;
    background-color: chartreuse;
    margin-bottom: 40px;
    /* border: 5px solid red; */
}
.r2{

}
.fa{
    color: green;
    font-size: 80px;
    background-color: #ffffff;
}