.menu-btn{
    // border: 2px solid red;
    position: absolute;
    z-index: 1;
    right: 1rem;
    top: 1rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    
    @include transition-ease;
    &-burger{
        width: 28px ;
        height: 3px;
        position: absolute;
        top: 0.5rem;
        right: 0;
        background: set-text-color($primary-color);
        @include transition-ease;
        // border: 2px solid green;
        
    
    &::before{
        content: '';
        position: absolute;
        top: -8px;
        width: 28px;
        height: 3px;
        background: set-text-color($primary-color);
        @include transition-ease;
        // border: 2px solid red;
    }
    &::after{
        content: '';
        position: absolute;
        top: 8px;
        width: 20px;
        height: 3px;
        background: set-text-color($primary-color);
        @include transition-ease;
        // border: 2px solid yellow;
    }
    &.open{
       
        transform: rotate(720deg);
        background-color: transparent;
    }
}
  
}