* {
  margin: 0;
  padding: 0;
  border: 0;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 10px;
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  /* animation-direction: normal; */
  /* animation-direction: reverse; */
  /* animation-direction: alternate; */
  animation-direction: alternate-reverse;
  
}
@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }

}