<div class="row2">
      <img src="Assets/Facebook Logo.png" alt="" />
      <img src="Assets/Dribbble Logo.png" alt="" />
      <img src="Assets/Youtube Logo.png" alt="" />
      <img src="Assets/Pinterest Logo.png" alt="" />
      <img src="Assets/Twitter Logo.png" alt="" />
      <img id="r" src="Assets/Reddit Logo.png" alt="" />
      <img id="g" src="Assets/Google Logo.png" alt="" />
      <img id="s" src="Assets/Slack Logo.png" alt="" />
    </div>