 <div class="row3">
      <div class="content">
        <div class="child1">
          <h1>
            Secure your money <br />
            with Escrow
          </h1>
          <p class="row3-para">
            Spense uses Escrow to secure all payments. We believe <br />
            Escrow offers the highest level of security for your payments,
            <br />
            so you never need to worry about scams.
          </p>
          <a href="#">Learn more about Escrow -></a>
        </div>
        <div class="child2">
          <img src="Assets/Phone Mockup.png" alt="" />
        </div>
      </div>
    </div>