<div class="row4">
      <div class="f-child">
        <img src="Assets/Text Editor.png" alt="" />
      </div>
      <div class="s-child">
        <h1>A text editor like no other.</h1>
        <p>
          Our text editor pull you into focus mode with it's simplistic <br />
          design and usability so you can put out your best writings.
        </p>
        <a href="#"> Text Editor Live Demo -></a>
      </div>
    </div>