.card{
    height: 120px;
    width: 50px;
    background-color: turquoise;
    animation-name: box;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 4s;
    /* animation-iteration-count: 2; */
    /* animation-direction: alternate; */
    animation-fill-mode: forwards;
    /* animation-fill-mode: backwards; */
    /* animation-fill-mode: both; */
    /* animation-play-state: paused; */

}
.card:hover{
    animation-play-state: running;
}
@keyframes box{
    0%{
        width: 50px;
        background-color: yellow;
    }
    50%{
        width: 150px;
        background-color: green;
    }
    100%{
        width: 280px;
        background-color: tomato;
    }

}