*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    width: 80%;
    height: 200px;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    line-height: 200px;
    background-image: linear-gradient(to right,rgba(255,0,0,0),rgba(255,0,0,1));
}