
div{
    border: 5px solid red;
    width: 50%;
    box-sizing: border-box;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    /* font-weight: lighter; */
    /* font-weight: bold; */
    /* font-weight: bolder;
    font-style: italic; */
    font-variant: small-caps;
    /* line-height: 1vmax;
    line-height: 1vmin; */
    line-height: 25px;
    
}
#p1{
    /* font-weight: bold;
    font-style: oblique; */
    /* font-variant-caps: titling-caps; */
}