<header>
      <div class="top">
        <img src="Assets/celebration.svg" alt="" />
        <p>
          To celebrate Spense's launch, we will be waiving all fees for the
          entire month of April.<span id="spn"
            >You will be receiving 100% of the earnings.</span
          >
        </p>
        <img src="Assets/celebration.svg" alt="" />
      </div>
     
      {{>nav}}
      <div class="container">
        <div class="row1">
          <div class="col1">
            <p id="p">Share your unfiltered <br />thoughts. Get paid.</p>
            <div class="para">
              <p>
                Spense is an open platform forindividuals to share their
                unfiltered thoughts. <br />
                Discuss the topic uoy love,and get paid for doing
                <i>just </i>that.
              </p>
              <ul>
                <li>Receive 99% off the earnings.</li>
                <li>Get paid via Debit Card, ACH, PayPal</li>
                <li>Withdraw your earnings anytime.</li>
              </ul>
              <input
                type="email"
                name="Email"
                id="email"
                placeholder="john@example.com"
              />
              <button type="submit" id="sub">Get Started</button>
            </div>
          </div>
          <div class="col2">
            <img src="Assets/Hero Image.png" alt="" />
          </div>
        </div>
      </div>
    </header>