<footer>
      <div class="container1">
        <div class="child">
          <h1>spense.</h1>
          <p>
            Spense is an open platform forindividuals to <br> share their unfiltered
            thoughts. 
            Discuss the <br /> topic uoy love,and get paid for doing <i>just </i>that.
          </p>
        </div>
        <div class="child">
            <h1>Sitemap</h1>
            <p>Homepage</p>
        </div>
        <div class="child">
            <h1>Resources</h1>
            <ul>
                <li>Support</li>
                <li>Contact</li>
                <li>FAQ</li>
            </ul>
        </div>
        <div class="child">
            <h1>Company</h1>
            <ul>
                <li>About </li>
                <li>Customers</li>
                <li>Blog</li>
            </ul>
        </div>
        <div class="child">
            <h1>Opportunities</h1>
            <p>Jobs</p>
        </div>
      </div>
    </footer>