body{
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    width: 100%;
    height: 220px;
    background-color: khaki;
    border: 3px solid black;
}
p{
    animation-name: para;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-size: 1.1rem;
}
@keyframes para{
    0%{
        font-size: 1.1rem;
    }
    100%{
        font-size: 3.1rem;
    }
}