body {
  background-image: url(../Img/01.png);
  height: 100vh;
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* background-position: top/bottom/left/right/center/100px 10px; */
  background-position: center;
}
