<nav>
        <div class="navdiv1">
          <p>spense.</p>
        </div>
        <div class="navdiv2">
          <ul>
            <li>Business</li>
            <li>Pricing</li>
            <li>Features</li>
          </ul>
        </div>
        <div class="navdiv3">
          <button id="loginbtn">{{name}}</button>
          <button id="startbtn">Get Started</button>
        </div>
      </nav>