*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    border-radius: 10px;
    animation-name: rotate;
    animation-duration: 1s;
}
@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}