*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 15vw;
    height: 100vh;
    border-right: 1px solid grey;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}
ul{
    font-size: 2rem;

}
li{
    list-style: none;
    /* margin: 20px; */
    margin-top: 20px;
    /* margin-left: 0; */
    padding-left: 50px;
    color: #19746c;
    width: 13vw;
}
.child2{
    /* border: 2px solid red; */
    margin-bottom: 45px;
}
li:hover{
    background-color: rgba(197, 189, 189,.5);
}